.p-navigation__logo {
	font-size: 1.5rem;
	line-height: 3rem;
}
#app {
	display: flex;
	flex-flow: row wrap;
}
#app > * {
	flex: 1 100%;
}
#app > aside {
	flex: 1 auto;
}
#app > .p-content {
	flex: 10 auto;
}
@media (max-width: 800px) {
	#app {
		flex-direction: column;
	}
}
