<!DOCTYPE html>
<html>
	<head>
		<title>{{.Site.Title}} - {{.Title}}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
		<div id="app">
			<header id="navigation" class="p-navigation">
				<div class="p-navigation__links logo">
					<a class="p-navigation__link" href="/">card10</a>
				</div>
				<div class="p-navigation__banner">
					<a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
					<a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
				</div>
				<nav class="p-navigation__nav" role="menubar">
					<span class="u-off-screen">
						<a href="#main-content">Jump to main content</a>
					</span>
					<ul class="p-navigation__links" role="menu">
					</ul>
					<ul class="p-navigation__links u-float-right" role="menu">
						<li class="p-navigation__link edit"><a target="_blank" href="{{.Site.Params.Wiki_URL}}/edit/{{.Site.Params.Wiki_Branch}}/{{$.File.Path}}">Edit</a></li>
					</ul>
				</nav>
			</header>
			<ul  class="p-breadcrumbs">
				{{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
			</ul>
			{{ define "breadcrumbnav" }}
				{{ if .p1.Parent }}
					{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
				{{ else if not .p1.IsHome }}
					{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
				{{ end }}
				<li class="p-breadcrumbs__item{{ if eq .p1 .p2 }} active{{ end }}">
					<a href="{{ .p1.Permalink }}">{{ .p1.Title }}</a>
				</li>
			{{ end }}
