{{ partial "default_header.html" . }}
<div class="p-content">
	<h1 class="p-heading--one">404 - NotFound</h1>
	<div class="p-notification--caution">
		<p class="p-notification__response">
			To generate a new page here, please follow <a href="#" target="_blank" id="filenameHREF">here</a> link and create a file called,
			<ul>
				<li><code id="filename"></code> for a single page</li>
			</ul>
			or
			<ul>
				<li><code id="filenameWithFolder"></code>for a page with subpages</li>
			</ul>
		</p>
	</div> 
	<script>
		var path = window.location.pathname;
		if( path.slice(-1) == "/" ) {
			path = path.substring(0, path.length - 1);
		}
		
		document.getElementById("filename").textContent = path + ".md";
		document.getElementById("filenameWithFolder").textContent = path + "/_index.md";	
		document.getElementById("filenameHREF").href = "{{$.Site.Params.Wiki_URL}}/new/{{$.Site.Params.Wiki_Branch}}/" + path + ".md";
		
	</script>
</div>
{{ partial "default_footer.html" . }}
