{{ partial "default_header.html" . }}
<div class="p-content">
	<h1 class="p-heading--one">404 - NotFound</h1>
	<div class="p-notification">
		<p class="p-notification__response">
			To generate a new page <a href="#" id="filenameHREF">here</a>,
			if you want to have subpages later please use the filename <code id="filenameWithFolder"></code>
			else create the file: <code id="filename"></code>.
		</p>
	</div> 
	<script>
		var path = window.location.pathname;
		if( path.slice(-1) == "/" ) {
			path = path.substring(0, path.length - 1);
		}
		
		document.getElementById("filename").textContent = path + ".md";
		document.getElementById("filenameWithFolder").textContent = path + "/_index.md";	
		document.getElementById("filenameHREF").href = "https://git.card10.badge.events.ccc.de/card10/logix/new/master/" + path + ".md";
		
	</script>
</div>
{{ partial "default_footer.html" . }}
